*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.filters
*.user

build/
**/build/

lib/
**/lib/

esp/
**/esp/

.vs/
**/.vs/

.vscode/
**/.vscode/

grep.py

*mak
*.log
*.htm
*.html
*.css
*.js
*.hdr
*.inf
*.ll
*.obj
*.lib
*.o
*.exe
*.dll
*.idb
*.lastbuildstate
*.recipe
*.tlog
*.pdb
*.log
*.filetxt
*.&
*.d
*.log
*.img
*.iso